{% extends "base.html" %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}

<div class="container mt-4">

    <div class="row justify-content-center">

        <div class="col-lg-8">

            <div class="card shadow">

                <div class="card-header bg-danger text-white">

                    <h3>

                        <i class="bi bi-receipt-cutoff"></i>

                        {{ title }}

                    </h3>

                </div>

                <div class="card-body">

                    <form method="POST">

                        {% csrf_token %}

                        <div class="mb-3">

                            <label class="form-label">

                                Budget

                            </label>

                            {{ form.budget }}

                        </div>

                        <div class="mb-3">

                            <label class="form-label">

                                Expense Category

                            </label>

                            {{ form.category }}

                        </div>

                        <div class="mb-3">

                            <label class="form-label">

                                Description

                            </label>

                            {{ form.description }}

                        </div>

                        <div class="mb-3">

                            <label class="form-label">

                                Amount

                            </label>

                            {{ form.amount }}

                        </div>

                        <div class="mb-3">

                            <label class="form-label">

                                Expense Date

                            </label>

                            {{ form.date }}

                        </div>

                        <div class="d-flex justify-content-between">

                            <a href="{% url 'expense:expense_list' %}"
                               class="btn btn-secondary">

                                Back

                            </a>

                            <button class="btn btn-danger">

                                Save Expense

                            </button>

                        </div>

                    </form>

                </div>

            </div>

        </div>

    </div>

</div>

{% endblock %}